{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% trans "Login - QuoteFlow" %}</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  </head>
  <body class="bg-base-200 min-h-screen">
    <!-- Header -->
    <c-components.navbar />

    <!-- Main Content -->
    <main class="flex-1 flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 relative">
      {% if form.non_field_errors %}
        <div class="fixed top-18 text-center space-y-2 z-4">
          {% for error in form.non_field_errors %} 
              <c-ui.alert 
                message="{{ error }}" 
                alert_type="alert-error"
              > 
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current text-white" fill="none" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
              </c-ui.alert>
          {% endfor %}
        </div>
      {% endif %}
      <div class="w-full max-w-[400px]">
        <!-- 
          <div class="text-center mb-6">
          <h1 class="text-2xl font-bold">Bon retour !</h1>
          <p class="text-gray-600">
            Connectez-vous à votre compte QuoteFlow Pro
          </p>
        </div>
         -->
        
        <div
          class="card bg-base-100 border border-neutral-200 hover:shadow-md transition-shadow duration-300 p-6"
        >
          <form method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            <!-- Email address -->
            <div class="w-full pb-3">
              <c-ui.input
              type="email"
              label="{% trans 'Email address' %}"
              required
              placeholder="your@email.com"
              message="{% trans 'invalid email' %}"
              autocomplete="email"
              name="login"
            >
              <c-icons.envelope />
            </c-ui.input>
            </div>

            <!-- password -->
            <c-ui.input_password id="password" name="password" label="{% trans 'password' %}" />

            <!-- Options -->
            <div class="flex justify-between items-center py-6 text-sm">
              <label class="flex items-center gap-2 cursor-pointer">
                <input type="checkbox" class="checkbox checkbox-sm" name="remember" />
                <span>{% trans "Remember me" %}</span>
              </label>
              <a href="{% url 'account_reset_password' %}" class="decoration-0 text-primary">
                {% trans "Forgot password ?" %}
              </a>
            </div>

            <!-- Login button -->
            <c-ui.button text="{% trans 'Sign in' %}" extra_class="btn-primary" />

            <!-- Divider -->
            <div class="divider text-sm mb-4">{% trans "OR continue with" %}</div>

            <!-- Google login -->
            <div class="py-2">
              <a href="/accounts/google/login/?process=login" type="button" class="btn w-full flex items-center gap-2">
                <img
                  src="https://www.svgrepo.com/show/355037/google.svg"
                  alt="Google"
                  class="w-5 h-5"
                />
                Google
              </a>
            </div>

            <!-- Lien inscription -->
            <p class="text-center text-sm mt-4">
              {% trans "Not registered yet" %} ?
              <a href="{% url 'account_signup' %}" class="decoration-0 text-primary"
                >{% trans "create an account" %}</a
              >
            </p>
          </form>
        </div>

        <!-- Footer 
         <div class="flex justify-between mt-4 text-gray-600">
          <p class="flex items-center gap-1 text-xs">
            <span class="text-green-500">🔒</span>
            Secure connection
          </p>
          <p class="flex items-center gap-1 text-xs">
            <span class="text-green-500">✔</span> RGPD Conforme
          </p>
          <p class="flex items-center gap-1 text-xs">
            <span class="text-green-500">🇫🇷</span> Hébergement France
          </p>
        </div>
        -->
      </div>
    </main>
  </body>
</html>
