# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Virtual environment
.venv/
.venv-wsl/
venv/
env/

# Django
*.log
*.pot
*.py[cod]
*.sqlite3
db.sqlite3
media/
staticfiles/

.gitignore

# If you collect static files

# IDEs
.idea/

# Environment variables
.env

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd