# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Virtual environment
.venv/
.venv-wsl/
venv/
env/

# Django
*.log
*.pot
*.py[cod]
*.sqlite3
db.sqlite3
media/
staticfiles/
# If you collect static files
/static/

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Environment variables
.env

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
