{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
<title>{% blocktrans %}Create your organization{% endblocktrans %}</title>
{% endblock %} 

{% block content %}
<!-- Header -->
<c-components.navbar>
  <!-- Aavatar -->
  <c-components.avatar />
</c-components.navbar>

<!-- Main Content -->
<main class="min-h-screen">
  <!-- Page Header -->
  <section class="text-center py-8">
    <h1 class="text-3xl lg:text-4xl font-semibold text-primary mb-4">
      {% blocktrans %}Create your organization{% endblocktrans %}
    </h1>
    <p class="text-lg text-gray-600 max-w-2xl mx-auto">
      {% blocktrans %} 
        Start managing your quotes and invoices in just a few minutes. 14-day free trial, no credit card required. 
      {% endblocktrans %}
    </p>
  </section>

  <section class="flex items-center justify-center w-full">
    <div class="max-w-5xl w-full grid grid-cols-1 md:grid-cols-2 gap-4 p-6">
      <!-- Left: Form -->
      <div class="border border-base-300 p-8 rounded-lg bg-base-100">
        <h2 class="text-xl font-semibold mb-2">
          {% blocktrans %}Organization Information{% endblocktrans %}
        </h2>
        <p class="text-gray-600 mb-6">
          {% blocktrans %}
            Fill out the form to create your organization
            {% endblocktrans %}
        </p>

        <form method="post" enctype="multipart/form-data" class="space-y-5">
          {% csrf_token %}

          <!-- is_org -->
          <label class="label cursor-pointer">
            <span class="label-text text-md font-semibold"
              >{% blocktrans %}Is this an organization?{% endblocktrans %}</span
            >
            <input
              type="checkbox"
              name="is_org"
              id="is_org"
              class="toggle toggle-primary checkbox-sm"
              checked
            />
          </label>

          <!-- For organization -->
          <div id="org-fields" class="space-y-5">
            <div class="w-full">
              <c-ui.django_form_input label="{{form.name.label}}">
                <c-slot name="icon">
                  <c-icons.building_office />
                </c-slot>
                <c-slot name="input">{{form.name}}</c-slot>
              </c-ui.django_form_input>
            </div>

            <div class="w-full">
              <c-ui.django_form_input label="{{form.legal_id_name.label}}">
                <c-slot name="icon">
                  <c-icons.tag />
                </c-slot>
                <c-slot name="input">{{form.legal_id_name}}</c-slot>
              </c-ui.django_form_input>
            </div>

            <div class="w-full">
              <c-ui.django_form_input label="{{form.legal_id.label}}">
                <c-slot name="icon">
                  <c-icons.fingerprint />
                </c-slot>
                <c-slot name="input">{{form.legal_id}}</c-slot>
              </c-ui.django_form_input>
            </div>
          </div>

          <!-- For individual -->
          <div id="personal-fields" class="space-y-5 hidden">
            <div class="w-full">
              <c-ui.django_form_input label="{{form.first_name.label}}">
                <c-slot name="icon">
                  <c-icons.user />
                </c-slot>
                <c-slot name="input">{{form.first_name}}</c-slot>
              </c-ui.django_form_input>
            </div>

            <div class="w-full">
              <c-ui.django_form_input label="{{form.last_name.label}}">
                <c-slot name="icon">
                  <c-icons.user />
                </c-slot>
                <c-slot name="input">{{form.last_name}}</c-slot>
              </c-ui.django_form_input>
            </div>
          </div>

          <!-- Common fields -->
          <div class="w-full">
            <c-ui.django_form_input label="{{form.logo.label}}">
              <c-slot name="icon">
                <c-icons.file_image />
              </c-slot>
              <c-slot name="input">{{form.logo}}</c-slot>
            </c-ui.django_form_input>
          </div>

          <div class="w-full">
            <c-ui.django_form_input label="{{form.country.label}}">
              <c-slot name="icon">
                <c-icons.globe />
              </c-slot>
              <c-slot name="input">{{form.country}}</c-slot>
            </c-ui.django_form_input>
          </div>

          <div class="w-full">
            <c-ui.django_form_input label="{{form.address.label}}">
              <c-slot name="icon">
                <c-icons.map_pin />
              </c-slot>
              <c-slot name="input">{{form.address}}</c-slot>
            </c-ui.django_form_input>
          </div>

          <!-- Submit -->
          <c-ui.button text="{% trans 'Submit' %}" extra_class="btn-primary" />
        </form>
      </div>

      <!-- Right: Pricing plans -->
      <div class="px-4 rounded-lg">
        <h2 class="text-xl font-semibold mb-2">
          {% blocktrans %}Choose your plan{% endblocktrans %}
        </h2>
        <div class="my-2 p-4 bg-primary/5 rounded-lg">
            <div class="flex items-start">
              <svg
                class="w-5 h-5 text-primary mr-3 mt-0.5"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                  clip-rule="evenodd"
                />
              </svg>
              <div>
                <h4 class="text-sm font-medium text-primary">
                  Essai gratuit de 14 jours
                </h4>
                <p class="text-sm text-base-content mt-1">
                  {% blocktrans %}Start with a free 14-day trial. No credit card
                  required. {% endblocktrans %}
                </p>
              </div>
            </div>
          </div>

        <div class="grid gap-4">
          <!-- Plan Free -->
          <label
            class="card border border-base-300 shadow-xs rounded-xl cursor-pointer hover:shadow-sm transition bg-base-100"
          >
            <div class="card-body">
              <div class="flex gap-3 items-center">
                <input
                  type="radio"
                  name="subscription_plan"
                  value="free"
                  class="radio radio-primary radio-sm"
                  checked
                />
                <h3 class="text-lg font-semibold">
                  {% blocktrans %}Free{% endblocktrans %}
                </h3>
              </div>
              <p class="text-lg font-bold text-blue-600">0€/month</p>
              <ul class="list-disc pl-5 text-sm text-gray-600 mt-2 space-y-1">
                <li>{% blocktrans %}Basic dashboard{% endblocktrans %}</li>
                <li>{% blocktrans %}Digital signatures{% endblocktrans %}</li>
                <li>{% blocktrans %}Export quotes to PDF{% endblocktrans %}</li>
              </ul>
            </div>
          </label>

          <!-- Plan Starter -->
          <label
            class="card border border-base-300 shadow-xs rounded-xl cursor-pointer hover:shadow-sm transition bg-base-100"
          >
            <div class="card-body">
              <div class="flex gap-3 items-center">
                <input
                  type="radio"
                  name="subscription_plan"
                  value="starter"
                  class="radio radio-primary radio-sm"
                />
                <h3 class="text-lg font-semibold">
                  {% blocktrans %}Starter{% endblocktrans %}
                </h3>
                <span class="badge badge-secondary text-white rounded-full">{% trans "Popular" %}</span>
              </div>
              <p class="text-lg font-bold text-blue-600">29€/month</p>
              <ul class="list-disc pl-5 text-sm text-gray-600 mt-2 space-y-1">
                <li>{% blocktrans %}Digital signatures{% endblocktrans %}</li>
                <li>{% blocktrans %}Advanced dashboard{% endblocktrans %}</li>
                <li>
                  {% blocktrans %}Transform quotes into invoices{% endblocktrans
                  %}
                </li>
                <li>
                  {% blocktrans %}Priority email support{% endblocktrans %}
                </li>
              </ul>
            </div>
          </label>

          <!-- Plan Premium -->
          <label
            class="card border border-base-300 shadow-xs rounded-xl cursor-pointer hover:shadow-sm transition bg-base-100"
          >
            <div class="card-body">
              <div class="flex gap-3 items-center">
                <input
                  type="radio"
                  name="subscription_plan"
                  value="premium"
                  class="radio radio-primary radio-sm"
                />
                <h3 class="text-lg font-semibold flex items-center">
                  {% blocktrans %}Premium{% endblocktrans %}
                </h3>
              </div>
              <p class="font-bold">
                <span class="text-primary text-lg">79€</span><span class="text-base-content/50 text-md">/month</span>
              </p>
              <ul class="list-disc pl-5 text-sm text-gray-600 mt-2 space-y-1">
                <li>
                  {% blocktrans %}Everything in Starter{% endblocktrans %}
                </li>
                <li>{% blocktrans %}Team management{% endblocktrans %}</li>
                <li>{% blocktrans %}API integration{% endblocktrans %}</li>
                <li>
                  {% blocktrans %}Dedicated 24/7 support{% endblocktrans %}
                </li>
              </ul>
            </div>
          </label>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %} {% block extra_script %}
<script>
  const isOrgCheckbox = document.getElementById("is_org");
  const orgFields = document.getElementById("org-fields");
  const personalFields = document.getElementById("personal-fields");

  isOrgCheckbox.addEventListener("change", () => {
    if (isOrgCheckbox.checked) {
      orgFields.classList.remove("hidden");
      personalFields.classList.add("hidden");
    } else {
      orgFields.classList.add("hidden");
      personalFields.classList.remove("hidden");
    }
  });
</script>
{% endblock %}
