{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
<title>{% blocktrans %}Create your organization{% endblocktrans %}</title>
{% endblock %} 

{% block content %}
<!-- Header -->
<c-components.navbar>
  <!-- Aavatar -->
  <c-components.avatar />
</c-components.navbar>

<!-- Main Content -->
<main class="min-h-screen">
  <!-- Page Header -->
  <section class="text-center py-8">
    <h1 class="text-3xl lg:text-4xl font-semibold text-primary mb-4">
      {% blocktrans %}Create your organization{% endblocktrans %}
    </h1>
    {% if not request.user.has_already_been_org_owner %}
      <p class="text-lg text-base-content/70 max-w-2xl mx-auto">
        {% blocktrans %} 
          Start managing your quotes and invoices in just a few minutes. Enjoy a full-feature 15-days free trial, no credit card required.
        {% endblocktrans %}
      </p>
    {% else %}
      <p class="text-lg text-base-content max-w-2xl mx-auto">
        {% blocktrans %} 
          By default, your organization is assigned the Free plan. You may upgrade at any time after creation.
        {% endblocktrans %}
      </p>
    {% endif %}
  </section>

  <section class="flex items-center justify-center w-full">
    <div class="max-w-5xl w-full grid grid-cols-1 md:grid-cols-2 gap-4 p-6">
      <!-- Left: Form -->
      <div class="border border-base-300 p-8 rounded-lg bg-base-100 max-h-auto">
        <h2 class="text-xl font-semibold mb-2">
          {% blocktrans %}Organization Information{% endblocktrans %}
        </h2>
        <p class="text-base-content/70 mb-6">
          {% blocktrans %}
            Fill out the form to create your organization
          {% endblocktrans %}
        </p>

        <form method="post" enctype="multipart/form-data" class="space-y-5">
          {% csrf_token %}

          <!-- is_org -->
          <label class="label cursor-pointer">
            <span class="label-text text-base-content text-md font-semibold"
              >{% blocktrans %}Is this an organization?{% endblocktrans %}</span
            >
            <input
              type="checkbox"
              name="is_org"
              id="is_org"
              class="toggle toggle-primary checkbox-sm"
              checked
            />
          </label>
        
          <!-- For individual -->
          <div id="personal-fields" class="space-y-5 hidden">
            <div class="w-full">
              <c-ui.django_form_input label="{{form.first_name.label}}">
                <c-slot name="icon">
                  <c-icons.user />
                </c-slot>
                <c-slot name="input">{{form.first_name}}</c-slot>
              </c-ui.django_form_input>
            </div>

            <div class="w-full">
              <c-ui.django_form_input label="{{form.last_name.label}}">
                <c-slot name="icon">
                  <c-icons.user />
                </c-slot>
                <c-slot name="input">{{form.last_name}}</c-slot>
              </c-ui.django_form_input>
            </div>
          </div>

          <!-- Common fields -->
           <div class="w-full">
              <c-ui.django_form_input label="{{form.name.label}}" field_name="name">
                <c-slot name="icon">
                  <c-icons.building_office />
                </c-slot>
                <c-slot name="input">{{form.name}}</c-slot>
              </c-ui.django_form_input>
            </div>
          <div class="w-full">
            <c-ui.django_form_input label="{{form.logo.label}}">
              <c-slot name="icon">
                <c-icons.file_image />
              </c-slot>
              <c-slot name="input">{{form.logo}}</c-slot>
            </c-ui.django_form_input>
          </div>

          <div class="w-full">
            <c-ui.django_form_input label="{{form.country.label}}">
              <c-slot name="icon">
                <c-icons.globe />
              </c-slot>
              <c-slot name="input">{{form.country}}</c-slot>
            </c-ui.django_form_input>
          </div>

          <!-- For organization -->
          <div id="org-fields" class="space-y-5">
            <div class="w-full">
              <c-ui.django_form_input label="{{form.legal_id_name.label}}">
                <c-slot name="icon">
                  <c-icons.tag />
                </c-slot>
                <c-slot name="input">{{form.legal_id_name}}</c-slot>
              </c-ui.django_form_input>
            </div>

            <div class="w-full">
              <c-ui.django_form_input label="{{form.legal_id.label}}">
                <c-slot name="icon">
                  <c-icons.fingerprint />
                </c-slot>
                <c-slot name="input">{{form.legal_id}}</c-slot>
              </c-ui.django_form_input>
            </div>
          </div>

          <!-- Common fields -->
          <div class="w-full">
            <c-ui.django_form_input label="{{form.address.label}}">
              <c-slot name="icon">
                <c-icons.map_pin />
              </c-slot>
              <c-slot name="input">{{form.address}}</c-slot>
            </c-ui.django_form_input>
          </div>

          <!-- Submit -->
          <c-ui.button text="{% trans 'Submit' %}" extra_class="btn-primary" />
        </form>
      </div>

      <!-- Right: Pricing plans -->
      <div class="px-4 rounded-lg">
        <h2 class="text-xl text-base-content font-semibold mb-2">
          {% trans "pricing" %}
        </h2>
        {% if not request.user.has_already_been_org_owner %}
          <div class="my-2 p-4 bg-primary/10 rounded-lg">
            <div class="flex items-start">
              <svg
                class="w-5 h-5 text-primary mr-3 mt-0.5"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                  clip-rule="evenodd"
                />
              </svg>
              <div>
                <h4 class="text-sm font-medium text-primary">
                  {% trans "15-days Free trial" %}
                </h4>
                <p class="text-sm text-base-content mt-1">
                  {% blocktrans %}
                    Enjoy all Premium features free for 15 days, no credit card required. 
                  {% endblocktrans %}
                </p>
              </div>
            </div>
          </div>
        {% endif %}
        <div class="grid gap-4">
          <!-- Plan Free -->
          <label
            class="card border border-base-300 shadow-xs rounded-xl hover:shadow-sm transition bg-base-100"
          >
            <div class="card-body">
              <div class="flex gap-3 items-center">
                <h3 class="text-lg font-semibold">
                  {% blocktrans %}Free{% endblocktrans %}
                </h3>
              </div>
              <p class="font-bold">
                <span class="text-primary text-lg">0$</span><span class="text-base-content/50 text-md">/{% trans "month" %}</span>
              </p>
              <ul class="list-disc pl-5 text-sm text-base-content/70 mt-2 space-y-1">
                <li>{% blocktrans %}1 user allowed in the organization{% endblocktrans %}</li>
                <li>{% blocktrans %}Create quotes{% endblocktrans %}</li>
                <li>{% blocktrans %}Create invoices{% endblocktrans %}</li>
                <li>{% blocktrans %}Send PDF quotes by email (limited){% endblocktrans %}</li>
                <li>{% blocktrans %}Basic dashboard: number of quotes, invoices, accepted quotes, total gains{% endblocktrans %}</li>
              </ul>
            </div>
          </label>

          <!-- Plan Starter -->
          <label
            class="card border border-base-300 shadow-xs rounded-xl hover:shadow-sm transition bg-base-100"
          >
            <div class="card-body">
              <div class="flex gap-3 items-center">
                <h3 class="text-lg font-semibold">
                  {% blocktrans %}Starter{% endblocktrans %}
                </h3>
                <span class="badge badge-secondary text-secondary-content text-xs rounded-full">{% trans "Popular" %}</span>
              </div>
              <p class="font-bold">
                <span class="text-primary text-lg">19$</span><span class="text-base-content/50 text-md">/{% trans "month" %}</span>
              </p>
              <ul class="list-disc pl-5 text-sm text-base-content/70 mt-2 space-y-1">
                <li>{% blocktrans %}Everything in Free{% endblocktrans %}</li>
                <li>{% blocktrans %}Up to 3 users allowed in the organization{% endblocktrans %}</li>
                <li>{% blocktrans %}Send PDF quotes and invoices by email without limitation{% endblocktrans %}</li>
                <li>{% blocktrans %}Secure digital signature links{% endblocktrans %}</li>
                <li>{% blocktrans %}Transform accepted quotes into invoices automatically{% endblocktrans %}</li>
                <li>{% blocktrans %}Enhanced dashboard with basic stats{% endblocktrans %}</li>
              </ul>
            </div>
          </label>

          <!-- Plan Premium -->
          <label
            class="card border border-base-300 shadow-xs rounded-xl hover:shadow-sm transition bg-base-100"
          >
            <div class="card-body relative">
              {% if not request.user.has_already_been_org_owner %}
                <span class="badge badge-accent rounded-none rounded-tl-xl text-accent-content absolute top-0 left-0">{% trans "15-days Free trial" %}</span>
              {% endif %}
              <div class="flex gap-3 items-center">
                <h3 class="text-lg font-semibold flex items-center">
                  {% blocktrans %}Premium{% endblocktrans %}
                </h3>
              </div>
              <p class="font-bold">
                <span class="text-primary text-lg">49$</span><span class="text-base-content/50 text-md">/{% trans "month" %}</span>
              </p>
              <ul class="list-disc pl-5 text-sm text-base-content/70 mt-2 space-y-1">
                <li>{% blocktrans %}Everything in Starter{% endblocktrans %}</li>
                <li>{% blocktrans %}Unlimited users allowed in the organization{% endblocktrans %}</li>
                <li>{% blocktrans %}Advanced dashboard with detailed stats and graphs{% endblocktrans %}</li>
                <li>{% blocktrans %}Customizable reports{% endblocktrans %}</li>
                <li>{% blocktrans %}Automations and advanced alerts{% endblocktrans %}</li>
                <li>{% blocktrans %}Full user and permissions management{% endblocktrans %}</li>
              </ul>
            </div>
          </label>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %} {% block extra_script %}
<script>
  document.addEventListener("DOMContentLoaded", () =>{
    const fullNameFields = document.querySelectorAll('input[name="first_name"], input[name="last_name"]')
    const isOrgCheckbox = document.getElementById("is_org");
    const orgFields = document.getElementById("org-fields");
    const personalFields = document.getElementById("personal-fields");
    const orgNameField = document.querySelector('input[name="name"]');
    const optionalText = document.querySelector(".optional-text");
    if (isOrgCheckbox.checked) {
      optionalText.classList.add("hidden")
      orgNameField.required = true;
    }

    isOrgCheckbox.addEventListener("change", () => {
      if (isOrgCheckbox.checked) {
        orgFields.classList.remove("hidden");
        personalFields.classList.add("hidden");
        orgNameField.required = true;
        optionalText.classList.add("hidden");
        fullNameFields.forEach(field => {
          field.required = false;
        });
      } else {
        orgFields.classList.add("hidden");
        personalFields.classList.remove("hidden");
        orgNameField.required = false;
        optionalText.classList.remove("hidden");
        fullNameFields.forEach(field => {
          field.required = true;
        });
      }
    });
  })
</script>
{% endblock %}
