{% load i18n %}
<div class="navbar bg-base-100 shadow-xs sticky top-0 px-8">
    <div class="flex-1 flex gap-3">
        <h2 class="text-xl">{{organization.name}}</h2>
    </div>
    <div class="flex-none">
        <c-components.language_switcher extra_class="h-4" />
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                {% if request.user.avatar %}
                <div class="w-8 rounded-full">
                    <img alt="Tailwind CSS Navbar component" src="{{request.user.avatar.url}}" />
                </div>
                {% else %}
                <div class="avatar avatar-placeholder">
                    <div class="bg-neutral text-neutral-content w-8 rounded-full">
                        {% if request.user.first_name or request.user.last_name %}
                        <span class="text-xs font-normal">
                            {{ request.user.first_name|default_if_none:""|slice:":1"|upper }}
                            {{ request.user.last_name|default_if_none:""|slice:":1"|upper }}
                        </span>
                        {% else %}
                        <span class="text-xs font-normal">
                            {{ request.user.email|slice:":2"|upper }}
                        </span>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                <li>
                    <a class="justify-between">
                        Profile
                        <span class="badge">New</span>
                    </a>
                </li>
                <li><a>Settings</a></li>
                <li>
                    <a href="{% url 'account_logout' %}">
                        {% trans "Sign out" %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>