{% load static %}
<c-vars extra_class="h-4" />

<form class="dropdown dropdown-left" method="post" action="{% url 'set_language' %}">
  <input type="hidden" name="next" value="{{ request.path }}" />
  {% csrf_token %}
  <div tabindex="0" role="button" class="btn bg-transparent border-none text-center m-1 h-6 p-0">
    {% if LANGUAGE_CODE == "en" %}
    <img
      src="{% static 'images/uk_flag.png' %}"
      alt=""
      class="{{ extra_class }} rounded-md w-5 mt-1"
    />
    {% elif LANGUAGE_CODE == "fr" %}
    <img
      src="{% static 'images/fr_flag.jpg' %}"
      alt=""
      class="{{ extra_class }} rounded-md w-5 mt-1"
    />
    {% endif %}
  </div>
  <ul
    tabindex="0"
    class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm"
  >
    <li>
      <button type="submit" name="language" value="en">English</button>
    </li>
    <li>
      <button type="submit" name="language" value="fr">Français</button>
    </li>
  </ul>
</form>
