{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}{% endblock%}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block extra_head %}{% endblock %}
  </head>
  <body class="bg-background min-h-screen">
    {% block content %}{% endblock %}
    {% block extra_script %}{% endblock %}
  </body>
</html>
